doctype html
html
	head
		title #{siteName} - 
			block title
		link(href='/css/index.css' rel='stylesheet')
		link(href='/css/code.css' rel='stylesheet')
		link(href='/css/simple-line-icons.css' rel='stylesheet')
		link(href='/fonts/fonts.css' rel='stylesheet')
	body
		div.main-wrapper
			header.main-header
				div.siteName
					a(href='/')= siteName

				if currentUser == null
					nav.main-nav
						a(href='/accounts/signup') Sign up
						a(href='/accounts/signin') Sign in

				else
					nav.main-nav
						| Hi #{currentUser.username}!
						a(href='/accounts/dashboard') Dashboard
						a(href='/accounts/profile') Profile
						form(action='/accounts/signout' method='post')
							input(type='submit' value='Sign out')

			div.main-content
				block content
					p #[strong Note:] This page doesn't have any content yet

			footer.main-footer Copyright © Blogme • 2018 • All rights reserved