doctype html
html
	head
		title #{siteName} - 
			block title
		link(href='/css/index.css' type='text/css' rel='stylesheet')
	body
		div.header
			figure
				a(href='/'): img(src='/images/blogme.jpg' alt='blogme image')
			h1= siteName

			if currentUser != null
				p Hi #{currentUser.username}!
				p
					a(href='/accounts/dashboard') Dashboard
				p
					a(href='/accounts/profile') Profile
				p
					a(href='/accounts/signout') Sign out
			else
				p
					a(href='/accounts/signin') Sign in
				p
					a(href='/accounts/signup') Sign up

		div.main
			block content
				p This page doesn't have any content yet