doctype html
html
	head
		title #{siteName} - 
			block title
		link(href='/css/index.css' type='text/css' rel='stylesheet')
	body
		div.header
			
			h1.siteName: a(href='/')= siteName

			if currentUser != null
				a.menuItem(href='/accounts/signout') Sign out
				a.menuItem(href='/accounts/profile') Profile
				a.menuItem(href='/accounts/dashboard') Dashboard
				div.menuItem Hi #{currentUser.username}!
			else
				a.menuItem(href='/accounts/signup') Sign up
				a.menuItem(href='/accounts/signin') Sign in

			div.clear

		div.main
			block content
				p This page doesn't have any content yet