doctype html
html
	head
		title #{siteName} - 
			block title
		link(href='/css/normalize.css' rel='stylesheet')
		link(href='/css/index.css' rel='stylesheet')
		link(href='/css/code.css' rel='stylesheet')
		link(href='/css/simple-line-icons.css' rel='stylesheet')
		link(href='/fonts/fonts.css' rel='stylesheet')
		script(src='/js/autosize.js')
	body
		div.flexColumn.heigh100vh
			header.mainHeader.flexRow
				a.siteName(href='/')= siteName

				if currentUser == null
					nav.mainNav
						a(href='/accounts/signin') Login
						a.mainNavButton(href='/accounts/signup') Sign up

				else
					nav.mainNav
						a(href='/accounts/dashboard')
							i.icon-user
							| #{currentUser.username}
						a(href='/accounts/profile') Profile
						form(action='/accounts/signout' method='post')
							input.mainNavButton(type='submit' value='Logout')

			div.mainContent
				block content
					p #[strong Note:] This page doesn't have any content yet

			footer.mainFooter.flexRow
					p © 2018 Blogme. All rights reserved
					a(href='/about') About
					a(href='/contact') Contact