doctype html
html
	head
		title #{siteName} - 
			block title
		link(href='/css/normalize.css' rel='stylesheet')
		link(href='/css/index.css' rel='stylesheet')
		link(href='/css/code.css' rel='stylesheet')
		link(href='/css/simple-line-icons.css' rel='stylesheet')
		link(href='/fonts/fonts.css' rel='stylesheet')
	body
		div.main-wrapper.flex-column.heigh100vh
			header.main-header.flex-row
				div.siteName
					a(href='/')= siteName

				if currentUser == null
					nav.main-nav
						a(href='/accounts/signin') Login
						a.signup(href='/accounts/signup') Sign up

				else
					nav.main-nav
						i.icon-user
						| #{currentUser.username}
						a(href='/accounts/dashboard') Dashboard
						a(href='/accounts/profile') Profile
						form(action='/accounts/signout' method='post')
							input(type='submit' value='Logout')

			div.main-content
				block content
					p #[strong Note:] This page doesn't have any content yet

			footer.main-footer.flex-row
					p Copyright © 2018 • Blogme • All rights reserved
					a(href='/about') About
					a(href='/contact') Contact