extends ../layouts/layout

block title
	|image manager upload

block content
	h1 Image manager upload

	div(class={invalid: message != null}) #{message}

	form(action='/uploads/upload' method='post' enctype='multipart/form-data')
		p Image <br/>
			input(type='file' name='images' multiple)
		p
			input(type='submit' value='Save images')