extends ../layouts/layout

block title
	|image manager upload

block content
	div.readingWidth
		h1 Store images

		div(class={invalid: message != null}) #{message}

		form.uploadImages(action='/uploads/upload' method='post' enctype='multipart/form-data')
			p
				label.customButton.customFileUpload(for='imagesUpload') Choose images
				input#imagesUpload(type='file' name='images' multiple)
			p
				input.customButton(type='submit' value='Save images')