extends layouts/layout

block title
	|error

block content
	div.readingWidth
		h1.textAlignCenter.marginBottom0 Oops. There was an error
		h3.textAlignCenter.marginTop0= errorTitle
		img(src='/images/error-owl.jpg')
		
	if errorStacktrace != null
		pre= errorStacktrace