/* CSS reset margin & padding */
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(255,255,255);
    color: rgb(51,51,51);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	margin: 20px 0px;
    color: rgb(51,51,51);
}

ul, ol, blockquote {
	margin: 17px 0px;
	padding-left: 40px;
}

p {
	margin: 17px 0px;
}

p code {
	margin: 0 2px;
	padding: 3px 4px;
	background-color: rgb(242,242,242);
}

.clear {
	clear: both;
}

.invalid {
	background-color: rgb(254,206,206);
}

.readingWidth {
    max-width: 750px;
    margin: 30px auto;
    text-align: left;
    /* box-sizing: border-box; */
}

.main-header {
	display: flex;
    padding: 18px 245px;
    border-bottom: 1px solid #e6eaea;
}

.main-header .siteName {
	padding-top: 6px;
}

.main-header .siteName a {
	text-decoration: none;
	color: rgb(0,150,136);
    font-size: 1.375rem;
    font-weight: 700;
	letter-spacing: 2px;
}

.main-header .main-nav {
    margin-left: auto;
    font-size: 0.85rem;
	letter-spacing: 1px;
	color: rgb(250, 121, 35);
}

.main-header .main-nav a {
	margin-left: 25px;
	padding: 10px;
    text-decoration: none;
    color: rgb(0,150,136);
}

.main-header .main-nav form {
	display: inline;
}

.main-header .main-nav form input {
	margin-left: 25px;
	padding: 9px 10px;
	border-radius: 3px;
	color: rgb(0,150,136);
	font-size: 0.85rem;
}

.main-header .main-nav a:hover,
.main-header .main-nav form input:hover {
	background-color: grey;
	color: white;
	border-radius: 3px;
}

.main-content article .userInfoTop {
	font-size: 14px;
	line-height: 1.5;
}

.main-content article .userPic {
	width: 60px;
	margin: 0 10px 30px 0;
	border-radius: 50%;
	float: left;
}

.main-content article .userBio {
	color: rgb(117, 123, 133);
}

.main-content article .postedAt {
	color: rgb(0,150,136);
}

.main-content article .postTitle {
 	font-size: 36px;
 	letter-spacing: -0.2px;
 	line-height: 1.3;
 	margin-top: 0px;
 	margin-bottom: 5px;
}

.main-content article .postSubtitle {
	font-size: 24px;
	font-weight: 400;
	line-height: 1.3;
	margin-top: 0px;
 	margin-bottom: 20px;
 	color: rgb(117, 123, 133);
}

.main-content article .postCoverImage {
	display: block;
    margin: auto;
    max-width: 100vw;
}

.main-content article .postBody {
	font-size: 17px;
	line-height: 1.6;
	color: rgb(117, 123, 133);
	margin-bottom: 30px;
}

.editDeletePost {
	margin-bottom: 30px;
}

.main-content article .editPost {
	float: left;
	text-decoration: none;
	padding: 5px 10px;
	margin-right: 8px;
	border-radius: 3px;
	color: rgb(255,255,255);
	background-color: rgb(0,150,136);
	font-size: 14px
}

.main-content article .editPost:hover {
	background-color: rgb(51,51,51);
}

input#submitDeletePost {
	border: none;
	padding: 5px 10px;
	margin-right: 8px;
	border-radius: 3px;
	color: rgb(255,255,255);
	background-color: rgb(252,13,27);
	font-size: 14px
}

input#submitDeletePost:hover {
	background-color: rgb(252,13,27);
}

.main-content article .likePost {
	margin: 0 0 30px 300px;
}

.main-content article .likePost form {
	display: inline;
}

.main-content article .likePost form button {
	border: none;
	margin-right: 5px;
	color: rgb(0,150,136);
	font-size: 17px;
	font-weight: bold;
}

.main-content article .likePost form button:hover {
	color: rgb(51,51,51);
}

.main-content article .tags {
	padding-bottom: 10px;
	margin-bottom: 30px;
	border-bottom: 1px solid #e6eaea;
}

.main-content article .tags i {
	margin-right: 10px;
}

.main-content article .tags ul {
	display: inline;
}

.main-content article .tags li {
	display: inline-block;
	padding: 5px 10px;
	margin-right: 8px;
	border-radius: 3px;
	color: rgb(80,80,80);
	background-color: rgb(242,242,242);
	font-size: 14px
	border-bottom: 1px solid #e6eaea;
}

.main-content article .tags li:hover {
	background-color: rgb(220,220,220);
}

.main-content article .userInfoBottom {
	font-size: 14px;
	line-height: 1.5;
}

.main-content article .userInfoBottom form {
	display: inline;
}

.main-content article .userInfoBottom form input {
	margin-right: 7px;
	padding: 2px 3px;
	border-radius: 3px;
	color: rgb(0,150,136);
	font-size: 14px
}

.main-content article .userInfoBottom form input:hover {
	color: rgb(255,255,255);
	background-color: grey;
}

.main-footer {
    padding: 60px;
    text-align: center;
	color: rgb(117,123,133);
    background-color: rgb(44,48,51);
}

.homeTitle {
    line-height: .8;
    font-size: 1.375rem;
    letter-spacing: 1px;
}