body {
    background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}

#page {}

header.layout-header {
    margin: 0px;
    padding: 15px 150px;
    border-bottom: 1px solid #e6eaea;
    /* position: fixed; */
}

header.layout-header .siteName {
    float: left;
    font-size: 1.375rem;
    letter-spacing: 3px;
}

header.layout-header nav {
	float: right;
	letter-spacing: 1px;
	font-size: 0.85rem;
	/* box-sizing: border-box; */
}

header.layout-header ul {
    margin: 0px;
    padding: 0px;
}

header.layout-header li {
	display: inline-block;
	margin-left: 25px;
	padding-top: 5px;
	/* list-style: none; */
}

header.layout-header a {
    text-decoration: none;
    color: rgb(0, 150, 136);
    padding: 10px;
}

header.layout-header li a:hover {
	background-color: grey;
	color: white;
}

.clear {clear: both;}

#content {
    max-width: 750px;
    margin: 30px auto;
    text-align: left;
    /* box-sizing: border-box; */
}

#content article .postTitle {
 	font-size: 36px;
 	letter-spacing: -0.5px;
 	line-height: 1.15;
}
#content article .postSubtitle {
	color: grey;
	font-size: 21px;
	font-style: italic;
	font-weight: 400;
	line-height: 1.58;
}
#content article .postCoverImage {
	display: block;
	margin-left: -345px ;
}
#content article .postBody {
	line-height: 36px;
	font-size: 17px;
	color: rgb(117, 123, 133);
}

footer p{
    max-width: 750px;
    margin: 30px auto;
    text-align: left;
    box-sizing: border-box;
}

.homeTitle {
    line-height: .8;
    font-size: 1.375rem;
    letter-spacing: 1px;
}

.invalid {background-color: rgb(254, 206, 206);}