extends ../layouts/layout

block title
	|dashboard

block content
	h1 Dashboard
	div Hi #{currentUser.username}
		if currentUser.name != null
			|
			|AKA #{currentUser.name}
		else
			|
			|AKA mistery person

	div
		a(href='/posts/create') Create a new post

	div Your latest posts:
		ul
			each post in latestPosts
				li: a(href=`/posts/${post.id}`)= post.title
			else
				li You have no posts yet

	div Your current posts
	div Your deleted posts
	
	div
		a(href='/uploads/overview/1') Your current images
	div
		a(href='/uploads/overview/1?deleted=1') Your deleted images

	form(action='/accounts/delete' method='post')
		input(type='submit' value='Delete account')