extends ../layouts/layout

block title
	|profile

block content
	h1 Edit your profile

	if currentUser.pic != null
		img(src=`/uploads/${currentUser.pic}`)

	form(action='/accounts/profile' method='post' enctype='multipart/form-data')
		p Picture <br/>
			input(type='file' name='userPic')
		p Name <br/>
			input(type='text' name='name' value=currentUser.name)
		p Bio <br/>
			textarea(name='bio' placeholder='Enter short bio')=currentUser.bio
		p
			input(type='submit' name='save' value='Save draft')
		p
			input(type='submit' name='publish' value='Publish profile')