extends ../layouts/layout

block title
	|edit profile

block content
	div.readingWidth.paddingTop30.paddingBottom30
		form.editProfile(action='/accounts/profile/edit' method='post' enctype='multipart/form-data')
			legend Edit profile
			if currentUser.pic != null
				img.userAvatar(src=`/uploads/${currentUser.pic}`)
			else
				img.userAvatar(src='/images/avatar.jpg')

			div.marginTop20
				label.customButton.customFileUpload(for='fileUpload') Choose profile image
				input#fileUpload(type='file' name='userPic')
				div.parensText (#[span.asterisk  *] Circular or square images work best. Rectangular images may look distorted)
				div.parensText (#[span.asterisk  *] Image will update after profile is saved)

			p.title Name #[span.parensText (If provided it will be displayed instead of your username on your posts)]
				input(type='text' name='name' value=currentUser.name)
			p.title Bio
				textarea.autosize(name='bio' placeholder='Enter short bio')=currentUser.bio
			input.customButton.marginTop30(type='submit' name='publish' value='Save profile')