extends ../layouts/layout

block title
	|profile

block content
	div.readingWidth
		h1 Your profile

		if currentUser.pic != null
			img(src=`/uploads/${currentUser.pic}`)
			form(action='/accounts/profile' method='post')
				input.danger(type='submit' value='Delete picture')
		else
			img(src='/images/avatar.jpg')
			| You may chose your own picture

		p Name:
			if currentUser.name != null
				|  #{currentUser.name}
			else 
				|  N/A
		p Bio:
			if currentUser.bio != null
				|  #{currentUser.bio}
			else 
				|  N/A
		p 
			a.customButton(href='/accounts/profile/edit') Edit profile