extends ../layouts/layout

block title
	|signup

block content
	h1 Sign up

	if checkitError == null && databaseError == null
		form(action='/accounts/signup' method='post')
			p Username <br/>
				input(type='text' name='username')
			p Email <br/>
				input(type='text' name='email' placeholder='yourname@example.com')
			p Password <br/>
				input(type='password' name='password' placeholder='at least 8 characters')
			p Confirm password <br/>
				input(type='password' name='confirm_password')
			p
				input(type='submit' value='Sign up')
			p By creating an account you agree to our Terms of Service (link)
			p Have an account? 
				a(href='/accounts/signin') Sign in »

	else if checkitError != null && databaseError == null
		form(action='/accounts/signup' method='post')
			p(class={invalid: checkitError.errors.username != null}) Username <br/>
				input(type='text' name='username')
				if checkitError.errors.username != null
					| </br> #{checkitError.errors.username.message}
			p(class={invalid: checkitError.errors.email != null}) Email <br/>
				input(type='text' name='email' placeholder='yourname@example.com')
				if checkitError.errors.email != null
					| </br> #{checkitError.errors.email.message}
			p(class={invalid: checkitError.errors.password != null}) Password <br/>
				input(type='password' name='password' placeholder='at least 8 characters')
				if checkitError.errors.password != null
					| </br> #{checkitError.errors.password.message}
			p(class={invalid: checkitError.errors.confirm_password != null}) Confirm password <br/>
				input(type='password' name='confirm_password')
				if checkitError.errors.confirm_password != null
					| </br> The confirmation must exactly match the password					
			p
				input(type='submit' value='Sign up')
			p By creating an account you agree to our Terms of Service (link)
			p Have an account? 
				a(href='/accounts/signin') Sign in »
	
	else if checkitError == null && databaseError != null
		form(action='/accounts/signup' method='post')
			p(class={invalid: databaseError === 'That username already exists! Please pick a different one.'}) Username <br/>
				input(type='text' name='username')
				if databaseError === 'That username already exists! Please pick a different one.'
					| </br> That username already exists! Please pick a different one.
			p(class={invalid: databaseError === 'That e-mail address already exists! Please pick a different one.'}) Email <br/>
				input(type='text' name='email' placeholder='yourname@example.com')
				if databaseError === 'That e-mail address already exists! Please pick a different one.'
					| </br> That e-mail address already exists! Please pick a different one.
			p Password <br/>
				input(type='password' name='password' placeholder='at least 8 characters')
			p Confirm password <br/>
				input(type='password' name='confirm_password')					
			p
				input(type='submit' value='Sign up')
			p By creating an account you agree to our Terms of Service (link)
			p Have an account? 
				a(href='/accounts/signin') Sign in »

	else
		p @#$%@/-#*~@!