extends ../layouts/layout

block title
	|signup

block content
	h1 Create your account
	p
		a(href='/accounts/signin') I already have an account

	form(action='/accounts/signup' method='post')
		p
			|Choose a username <br/>
			input(type='text' name='username')
		p
			|Your email <br/>
			input(type='text' name='email' placeholder='yourname@example.com')
		p
			|Choose a password <br/>
			input(type='password' name='password' placeholder='at least 8 characters')
		p
			|Confirm password <br/>
			input(type='password' name='confirm_password')
		p
			|By creating an account you agree to our Terms of Service (add link)
		p
			input(type='submit' value='Create my account')
	p
		a(href='/') Return to Blog.com