extends ../layouts/layout

block title
	|signin

block content
	h1 Sign in
	form(action='/accounts/signin' method='post')
		p Username or Email <br/>
			input(type='text' name='usernameOrEmail')
		p Password <br/>
			input(type='password' name='password')
		p
			input(type='checkbox' name='stay_signed' checked)
			|Remember me
			|- Forgot password? (link)
		p
			input(type='submit' value='Sign in')
		p Don't have an account? 
			a(href='/accounts/signup') Sign up »