extends ../layouts/layout

block title
	|login

block content
	mixin field(title)
		p.title #{title}
			input&attributes(attributes)
			if errors[attributes.name] != null
				p.invalid #{errors[attributes.name].message}

	form.sign.border1SolidGrey.flex-column(action='/accounts/signin' method='post')
		legend Login
		+field('Username or Email')(type='text' name='usernameOrEmail' value=body.usernameOrEmail)
		+field('Password')(type='password' name='password' value=body.password)
		input(type='submit' value='Login')
		p.title Forgot password?

	p.signQuery New to Blogme?
		a(href='/accounts/signup')  Sign up