extends ../layouts/layout

block title
	|About

block content
	div.aboutPageText.readingWidth.marginBottom30
		h1.textAlignCenter About
		p Hi, I’m Pablo.

		p I built #[strong Blogme]'s blogging platform to improve my coding knowledge. #[em While it works, #[strong it was never truly intended for real use] and I won’t be maintaining or updating it often]. #[em #[strong.redText Please enjoy it at your own risk]].

		p I’m an architect, construction project manager, real estate developer and now #[strong.redText web developer]. :)  Throughout my life I’ve been responsible for the development, design and construction of several architectural projects in the USA and overseas. A while back I decided to pursue other passions of mine, and ... #[em the coding learning process began].

		p.marginBottom80 Thank you for reading.

		p.textAlignCenter Contact me or check out my work

		div.flexRow.justifyContentCenter
			a.marginLeft12(href='mailto:pregen@solanas.net' target='_blank')
				img(src='/images/mail.png')
			a.marginLeft12(href='https://www.linkedin.com/in/pabloregen' target='_blank')
				img(src='/images/linked.png')
			a.marginLeft12(href='https://github.com/PabloRegen' target='_blank')
				img(src='/images/github.png')
			a.marginLeft12(href='https://www.behance.net/pabloregen' target='_blank')
				img(src='/images/behence.png')