extends ../layouts/layout

block title
	|About

block content
	div.aboutPageText.readingWidth.marginBottom30
		h1.textAlignCenter About
		p Hi, I’m Pablo. 

		p I’m an architect and construction project manager. Throughout my life I’ve been responsible for the interior and architectural design as well as for the development and construction of several projects in the USA and overseas. A while back I decided to change careers to pursue other passions of mine. That’s when the code learning process began. 

		p This blogging platform is one of the projects I chose in order to gain new knowledge and reinforce and enhance the already acquired from books, courses and building other projects. Although it does work, it is actually not intended for real use but as part of my growing portfolio. I will keep improving it as part of my learning journey.

		p You can contact me @ ...

		p Thank you for reading.