extends ../layouts/layout

block title
	|homepage

block content

	p.homeTitle Create your blog. Share your stories

	img(src='/images/homepage1.jpg' alt='Homepage picture')
	
	p Whether you'd like to share your expertise, experiences, the latest news or whatever is on your mind

	ul
		li Post anything
		li Share your passions
		li Discover
		li Follow people
		li Like posts

	h2 Latest posts

	ul
		each post in posts
			div: a(href=`/posts/${post.slug}`)= post.title 
			div #{post.subtitle}
			div #{post.postedAt}
			div #{post.owner}
			// FIXME!!! Delete <br/>
			<br/>

	a(href='about') About the blogging platform
	a(href='contact') Contact me