extends ../layouts/layout

block title
	|read post

block content
	article
		h1.postTitle!= sanitizer.sanitize(post.title)
		h2.postSubtitle!= sanitizer.sanitize(post.subtitle)

		if post.pic != null
			img.postCoverImage(src=`/uploads/postsPics/${post.pic}`, alt='Alt post pic', title='Title Post Pic')

		div.postBody!= sanitizer.sanitize(postBody)