extends ../layouts/layout

block title
	|posts tagged 

block content
	div.readingWidth
		h1.textAlignCenter Tags
		div.tags.flexRow.flexFlowWrap
			if currentTags.length > 0
				each tag in currentTags
					a(href=`/posts/tagged/${tag.name}`) #{tag.name}
			else 
				| There are no tags yet